.funcBox
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    gap: 1em;
}

.func
{
    border: 1px solid #e0e0e0;
    padding: 1em;
}